<nav class="navbar navbar-expand-lg bg-dark"  xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Fsoft - FA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll " style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link text-white" href="dashboard.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" href="employees.html">Employees</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="jobs.html">Jobs</a>
                </li>

            </ul>
            <form class="d-flex">
                <div style="color: white">Welcome: </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter your keyword" aria-label="Keyword" aria-describedby="button-addon2">
                    <button class="btn btn-success" type="button" id="button-addon2">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</nav>